.ActivityLog_container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 25vh;
  width: 25vw;
  padding: 1vh 1vw; /* 상하좌우 여백 동일하게 설정 */
  display: flex;
  flex-direction: column;
}

.activity-log-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 1vh;
}

/* 제목 아래 영역 전체를 감싸는 컨테이너 */
.activity-log-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* 스크롤 리스트 영역 */
.activity-log-list {
  display: flex;
  flex-direction: column;
  gap: 5px;             /* 항목 사이 간격 */
  font-size: 0.8rem;
  font-weight: bold;
  overflow-y: auto;     /* 내용이 많을 경우 수직 스크롤 생성 */
  height: 12vh;
}

.activity-log-btn{
  background-color: rgb(163, 156, 231);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
}

.activity-log-btn:hover {
  background-color: rgb(133, 127, 189);
}

/* UL 기본 스타일 초기화 */
.ActivityLog_container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
